@import "/src/utils/scss/functions.scss";

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: rem(25) 0 rem(25) 0;

    .start,
    .prev,
    .next,
    .end {
        cursor: pointer;
        margin: 0 rem(2) 0 rem(2);
        position: relative;
        padding: 0;
        border: 0;
        background-color: black;
        width: rem(35);
        height: rem(35);
        svg {
            transition: all 0.3s;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            width: rem(20);
            height: rem(20);
        }
        &:hover {
            svg {
                opacity: 0.8;
                transform: translate(-50%, -45%);
            }
        }
    }

    .prev,
    .start {
        transform: rotate(90deg);
    }

    .next,
    .end {
        transform: rotate(-90deg);
    }

    .page_numbers__container {
        .page_number {
            font-size: rem(20);
            margin: 0 rem(4) 0 rem(4);
            cursor: pointer;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
        }
        .pages_splitter {
            font-size: rem(20);
            font-weight: bold;
        }
        .active {
            font-weight: bold;
            border-bottom: 3px solid black;
        }
    }
}
