.container {
    text-align: center;
    svg {
        animation: 1.3s infinite rotation;
    }
    @keyframes rotation {
        from {
            transform: none;
        }
        to {
            transform: rotate(360deg);
        }
    }
}
