.container {
    position: relative;
    svg {
        width: 100%;
        margin: 0 auto;
        animation: 1.3s infinite rotation;
    }
    @keyframes rotation {
        from {
            transform: none;
        }
        to {
            transform: rotate(360deg);
        }
    }
}
