@import "/src/utils/scss/functions.scss";
@import "/src/utils/scss/mixins.scss";
@import "/src/utils/scss/variables.scss";

.container {
    background-color: black;
    color: white;

    .content_wrapper {
        display: flex;
        max-width: rem($base-content-wrapper-width);
        width: 100%;
        margin: 0 auto;
        padding-top: 100px;
    }
}
