@import "/src/utils/scss/functions.scss";
@import "/src/utils/scss/mixins.scss";

.container {
    @include page_container;
    .section {
        .section_title {
            margin: rem(25) 0 rem(15) 0;
            padding-bottom: rem(5);
            border-bottom: 4px black solid;
        }
    }
}
