@mixin main_scrollbar {
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: rgb(233, 233, 233);
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(0, 0, 0);
    }
}
