@import "/src/utils/scss/functions.scss";
@import "/src/utils/scss/variables.scss";

.container {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;

    .content_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: rem(1200);
        padding: rem(15);
        height: rem($header-height-desktop);
        width: 100%;
        margin: 0 auto;
        color: white;
        justify-content: space-between;

        .block_middle {
            width: 100%;
            margin: 0 rem(50);
        }
    }
}
