@import "/src/utils/scss/functions.scss";
@import "/src/utils/scss/mixins.scss";

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;

    .search_input__wrapper {
        width: 100%;
        &::after {
            content: "";
            position: absolute;
            width: 0%;
            left: rem(10);
            bottom: rem(5);
            height: rem(3);
            background: black;
            transition: width 0.4s;
        }
        &:focus-within {
            &::after {
                width: calc(100% - rem(54));
            }
        }

        .search_input {
            width: 100%;
            height: rem(45);
            border: 0;
            outline: none;
            padding: 0 rem(10);
        }
    }

    .submit_btn {
        border: 0;
        height: rem(45);
        width: rem(45);
        background-color: white;
        cursor: pointer;
        &:hover {
            svg {
                transition: transform 0.3s;
                transform: scale(1.1);
            }
        }
        svg {
            transition: transform 0.3s;
            width: rem(25);
            height: rem(42);
        }
    }

    .search_results {
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        height: fit-content;
        max-height: 0;
        overflow-y: scroll;
        transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
        background-color: #ffffff;
        width: 100%;
        color: #000000;
        -webkit-box-shadow: 0px 21px 25px -7px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 21px 25px -7px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 21px 25px -7px rgba(34, 60, 80, 0.2);

        @include main_scrollbar;

        .result_card {
            display: flex;
            .block_left {
                .poster {
                    max-width: rem(80);
                }
            }
        }
    }

    // Modificator
    .uncollapsed {
        padding: rem(15) 0 rem(15) 0;
        max-height: 50vh;
    }
}
