@import "../../../_utils/scss/functions.scss";

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;

    .search_input__wrapper {
        width: 100%;
        &::after {
            content: "";
            position: absolute;
            width: 0%;
            left: rem(10);
            bottom: rem(5);
            height: rem(3);
            background: black;
            transition: width 0.4s;
        }
        &:focus-within {
            &::after {
                width: calc(100% - rem(54));
            }
        }

        .search_input {
            width: 100%;
            height: rem(45);
            border: 0;
            outline: none;
            padding: 0 rem(10);
        }
    }

    .submit_btn {
        border: 0;
        height: rem(45);
        width: rem(45);
        background-color: white;
        cursor: pointer;
        &:hover {
            svg {
                transition: transform 0.3s;
                transform: scale(1.1);
            }
        }
        svg {
            transition: transform 0.3s;
            width: rem(25);
            height: rem(42);
        }
    }
}
