@import "/src/utils/scss/functions.scss";

.page_number {
    font-size: rem(20);
    margin: 0 rem(4) 0 rem(4);
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

// Modificator
.active {
    font-weight: bold;
    border-bottom: 3px solid black;
}
