@import "/src/utils/scss/functions.scss";

.app {
    .content_wrapper {
        max-width: 1200px;
        margin: rem(120) auto rem(50) auto;
        width: 100%;
        padding: 0 rem(15) 0 rem(15);
    }
}
