@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Trispace:wght@100;200;400;700&display=swap");

body {
    font-family: "Roboto", regular;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: rgb(233, 233, 233);
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(0, 0, 0);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

* {
    box-sizing: border-box;
}
